
<section class="bookwize-container">
    <div class="bookwize-steps">

        <div class="bookwize-step active">
            <a href="?page=1" data-bind="attr: {title : IBE.Utils.translate('step.planYourStay')}"></a>
            <div class="bookwize-step__description">
                <span class="bookwize-step__description-inner">
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                </span>
                <span class="bookwize-step__description-inner">1. </span>
                <span class="bookwize-step__description-inner" data-bind="translate: 'step.planYourStay'"></span>
            </div>
        </div>


        <div class="bookwize-step bookwize-step-2 inactive">
            <a href="?page=2" data-bind="attr: {title : IBE.Utils.translate('roomSelection')}"></a>
            <div class="bookwize-step__description">
                <span class="bookwize-step__description-inner">
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                </span>
                <span class="bookwize-step__description-inner">2. </span>
                <span class="bookwize-step__description-inner" data-bind="translate: 'roomSelection'"></span>
            </div>
            <div class="bookwize_progress"></div>
        </div>
        <div class="bookwize-step inactive">
            <a href="?page=3" data-bind="attr: {title : IBE.Utils.translate('billingInformation')}"></a>
            <div class="bookwize-step__description">
                <span class="bookwize-step__description-inner">
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                </span>
                <span class="bookwize-step__description-inner">3. </span>

                <span class="bookwize-step__description-inner" data-bind="translate: 'billingInformation'"></span>
            </div>
        </div>
        <div class="bookwize-step inactive">
            <a href="?page=3" data-bind="attr: {title : IBE.Utils.translate('step.guestInfo')}"></a>
            <div class="bookwize-step__description">
                <span class="bookwize-step__description-inner">
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                    <span class="bookwize-step__description-inner-cycle"></span>
                </span>
                <span class="bookwize-step__description-inner">4. </span>

                <span class="bookwize-step__description-inner" data-bind="translate: 'step.guestInfo'"></span>
            </div>
        </div>
    </div>
</section>

